body{
  background-color:#ccc;
}

.calculadora{
  max-width: 600px;
  background-color: #333;
  margin: 0 auto;
  border:2px solid #333;
  div.display{
    div{
      width: 100%;
      height: 65px;
      padding: 15px;
      box-sizing: border-box;
      font-family: 'Gugi', cursive;
      font-size: 1.8em;
    }
  }
  div.botones{
    display: flex;
    // flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    border: 2px solid #333;
    box-sizing: border-box;
    div{
      width:25%;
      box-sizing: border-box;
      border:1px solid #ccc;
      padding: 15px 0;
      background-color: #eaeaea;
      text-align: center;
      &:hover{
        background-color: rgb(227, 199, 145);
      }

    }
  }
}

#c{
  background-color: #ccc;
}
#ac{
  background-color: #f00;
}

#display1{
  color: yellow;
}
#display2{
  color: lightgreen;
}
#igual{
  background-color: lightblue;
}
.btnOpe{
  background-color: orange !important;
}
