body{
  background-color:#ccc;
}

.calculadora{
  width: 600px;
  background-color: #333;
  margin: 0 auto;
  div.display{
    div{
      width: 100%;
      min-height: 65px;
      padding: 15px;
      box-sizing: border-box;
      font-family: 'Gugi', cursive;
      font-size: 1.8em;
    }
  }
  div.botones{
    display: flex;
    // flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    div{
      width:25%;
      box-sizing: border-box;
      border:1px solid #ccc;
      padding: 15px 0;
      background-color: #eaeaea;
      text-align: center;
      &:hover{
        background-color: #f00;
      }

    }
  }
}

#displayOperacion{
  color: yellow;
}
#displayResultado{
  color: lightgreen;
}
